<div class="row">
  <div class ="large-6 columns">
    <h3> Sobre B.A.P. </h3>
    <p>
    Esta B.A.P. (Bolsa de Actividades Portátiles) ha sido recompilado por varias personas de <a href="www.recojo.net" title="Visita RECOJO">RECOJO</a> Red Colombiana de Jóvenes y está aquí para que le hagas uso cuando tengas que manejar grupos de personas y quieras hacer actividades sin muchos materiales y con gran impacto.
    </p>
    <p>
      Si tienes alguna duda, porfavor envíanos un <a href="mailto:contactanos@recojo.net,carloslopez@recojo.net" title="Envía un correo a contactanos@recojo.net">mail</a> con tus comentarios.
    </p>
    <div class="row">
      <div class="small-3 small-centered columns">
        <a href="http://www.recojo.net" title="Visita RECOJO"><img src="http://www.recojo.net/uploads/1/8/1/7/181752/6784599.jpg"/></a>
      </div>
    </div>
  </div>
  <div class ="large-6 columns">
    <h3> Bibliografía recomendada </h3>
    <p>
      A continuación listamos una serie de libros y sitios en los que se pueden encontrar muchas más actividades.
    </p>
    <p>
      <ul>
      <li> <a href="http://www.ultimatecampresource.com"> www.ultimatecampresource.com</a></li>
      <li> <a href="http://www.campgames.org"> www.campgames.org</a></li>
      <li> Manual de Campamento, Asociación Venezolana de Campamentos.</li>
      <li>Quicksilver, Karl Rohnke y Steve Butler.</li>
      <li> Cooperative Sports and Game Book, Terry Orlick</li>
      <li> Fun and Games, Camp Tawingo </li>
      <li>Fun Stuff, Karl Rohnke</li>
      </ul>
    </p>
  </div>
</div>
