<div class="row">
  <div class="large-12 columns">
      <h2> Bienvenido al B.A.P. </h2>
      <h3> Introducción </h3>
      <h4>¿Alguna vez has tenido que diseñar actividades para grupos de trabajo? </h4>
      <p>
El manual B.A.P (Bolsa de Actividades portátiles) contiene actividades para todo tipo de grupos, edades y ambientes, en él encontraras una compilación de actividades de una gran variedad de libros y de la experiencia de nuestros facilitadores, que te harán el proceso de diseño de actividades mucho más fácil.
</p>
<p>
Para empezar a planear una secuencia de actividades, debes asegúrate de tener la respuesta a estas preguntas:
</p>
<ul>
<li>¿Cuál es el objetivo de la secuencia?</li>
<li>¿Cuántos participantes van a asistir?</li>
<li> ¿Qué edades tienen?</li>
<li> ¿Se conocen entre ellos?</li>
<li> ¿Alguno tiene lesiones o restricciones de movimiento?</li>
<li>¿Con qué espacios cuentas para hacer las actividades?</li>
<li>¿Con cuánto tiempo dispones?</li>
</ul>
<p>
Esto te ayudará a seleccionar las actividades más idóneas para lograr el objetivo que te propones.
</p>
<p>
Una secuencia debe empezar  con un rompehielos, un calentamiento, un reto o actividad central y un cierre o retroalimentación (si quieres dejar un aprendizaje).
</p>
<p>
Asegúrate de llenar la siguiente tabla para todas las secuencias que planees.
</p>

      <div class="row">
        <div class="large-2 columns panel">
          Tiempo:
        </div>
        <div class="large-2 columns panel">
          Actividad:
        </div>
        <div class="large-2 columns panel">
          Objetivo y Reglas:
        </div>
        <div class="large-2 columns panel">
          Preguntas o Comentarios:
        </div>
        <div class="large-2 columns panel">
          Encargad@s:
        </div>
        <div class="large-2 columns panel">
          Materiales:
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h2>Ciclo de la Educación Experiencial</h2>
    <img src="https://s3.amazonaws.com/recojo/BAP+Ciclo+Ed+Exp.png"/>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h2>Reto por Opción</h2>
    <img src="https://s3.amazonaws.com/recojo/BAP+rxo.png"/>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h2>DDADAC</h2>
    <h4> GUÍA PARA PRESENTAR ACTIVIDADES </h4>
    <h5>Describe</h5>
    <p>
Presenta el objetivo y las reglas de la actividad de la manera más sencilla posible. Habla claro para que todos puedan oírte. Usa la fantasía y el humor adecuadamente.
Se creativo en tu presentación pero ten cuidado de no confundir a la gente con muchos detalles.
</p>
<h5>Demonstrate -  Demuestra</h5>
<p>
Refuerza tu explicación con ejemplos visuales y motores-
</p>
<h5>Ask – Pregunta</h5>
<p>
Antes de empezar la actividad asegúrate de saber si algún participante necesita aclaración.
Si hay muchas preguntas usa tu juicio para saber si en verdad necesitan aclaración o no. Muchas preguntas pueden interrumpir el flujo que quieres crear con el grupo, hay que estar atento.
</p>
<h5>Do – Juega, Haz</h5>
<p>
Muchas veces es mejor empezar la actividad para que la entiendan durante la práctica.
Si esperas a que todos entiendan las reglas desde el comienzo nunca va a empezar la actividad. Algo de confusión hace parte del juego.
</p>
<h5>Adapt - Adapta</h5>
<p>
Asegúrate de que los participantes estén metidos en la actividad. Si lo están déjala fluir; si te das cuenta que la energía está bajando, cambia las reglas, de inicio a un nivel más, más complejo, o cambia de actividad (esto es clave trabajando con niños)
</p>
<h5>Close -  Cierra</h5>
<p>
Siempre ten en cuenta que hay que cerrar las actividades, sobretodo si éstas involucran conteos, puntajes o ganador
</p>

  </div>

</div>