<h1>Categorías de Juegos</h1>
<% j = 0 %>
<% @categories.each do |category| %>
  <% j = j + 1%>
  <% if j == 1%>
    <div class="row">
  <% end%>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="price"><%=category.name%></li>
      <li class="description"><%=category.desc%></li>
      <li class="bullet-item"># de Juegos: <%= link_to category.games.count, category_games_by_category_path(category.id), title: "Ver los juegos de esta categoría" %></li>
    </ul>
  </div>
  <% if j == 3 or j >=@categories.count %>
    <% j = 0 %>
    </div>
  <% end%>

<% end %>